<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Farhan" />
        <activity android:name=".Irvine" />
        <activity android:name=".Kriti" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Pritam" />
        <activity android:name=".Ibadur" />
        <activity android:name=".Tushar" />
        <activity android:name=".Luis" />
        <activity android:name=".Manish" />
        <activity android:name=".Mohit" />
        <activity android:name=".Nafees" />
        <activity android:name=".Umar" />
        <activity android:name=".Prince" />
        <activity android:name=".Priyambada" />
        <activity android:name=".Riya" />
        <activity android:name=".Samiksha" />
        <activity android:name=".Shubham" />
        <activity android:name=".Soni" />
        <activity android:name=".Trisha" />
        <activity android:name=".Vairag" />
        <activity android:name=".Abhishek" />
        <activity android:name=".KarunSahni" />
        <activity android:name=".KaranKumarSingh" />
        <activity android:name=".SaifAli" />
        <activity android:name=".YogeshPandey" />
        <activity android:name=".Jahan" />
        <activity android:name=".Fayaz" />
        <activity android:name=".AnkushSingh" />
        <activity android:name=".AyushAnand" />
        <activity android:name=".AdityaYadav" />
        <activity android:name=".Burhan" />
        <activity android:name=".First_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Firstpage">

        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>